body{
    padding: 30px 20px;
}

.container{
    /* border: 2px solid; */
    background-color: #F3F5FC;
    height: 70em;
    width: 100%;
    padding: 10px;
}
.titulo{
    margin-top: .5em;
    text-align: center;
    /* border: 1px solid; */
    font-family: Arial, Helvetica, sans-serif;
    color: #0A3871;
    
}
.logo{
    background-image: url(imagenes/Logo.png);
    background-repeat: no-repeat;
    margin-top: -60px;
    width: 30%;
    height: 10%;
    position: absolute;
    
      
}
.right{
    width: 400px;
    height: 940px;
    float: right;
    /* border: 2px solid; */
    border-radius: 32px;
    
    margin-right: 40px;
   

    /* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.411);
border-radius: 32px;
}
.right h1{
    text-align: center;
   
}
.right p{
   
    width: 336px;
    
    
    margin-top: 100%;
    margin-left: 5%;
    /* border: 2px solid; */
    font-family: Arial, Helvetica, sans-serif;
   
    font-weight: 700;
    font-size: 24px;    
    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;

}


.left{
    width: 400px;
    height: 400px;
    float: left;
    
    border-radius: 32px;
    
    margin: 5%;
}
.left p{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */


    /* Dark blue/dark-blue-300 */

    color: #0A3871;
}
.right textarea{
    background: #ffffff;
    border: none;
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.botones{
    /* border: 2px solid; */
    float:left;
    margin: 10px 10px;
}
.patter{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 10px;
}
.boton1{
    color: whitesmoke;
    background-color: #0A3871;
    height: 67px;
    width: 328px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
}
.boton2{
    background-color:  #D8DFE8;
    color: #0A3871;
    height: 67px;
    width: 328px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
}

.imagenFondo{
    background-image: url(imagenes/Muñeco.png);
}

/*---------------------------------------------------------------------------------*/


/* En pantallas de 840px de ancho o menos, usar dos columnas en lugar de cuatro */
@media screen and (max-width: 840px) { 
    .column {
       width: 50%;
    }
    body{
    padding: 10px 10px;
    }
    .right{
    /* Frame 5 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 688px;
    height: 133px;
    left: 40px;
    top: 1001px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    }

    .right p{
    position: static;
    width: 624px;
    height: 29px;
    left: 0px;
    top: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    }

    .right #textoEntrada{
    position: static;
    width: 624px;
    height: 24px;
    left: 0px;
    top: 45px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    }

    .botones{
        /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 688px;
    height: 67px;
    left: 40px;
    top: 870px;
    }

    .boton1{
    
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    position: static;
    width: 332px;
    height: 67px;
    left: 0px;
    top: 0px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 24px;
    }

    .boton2{
    
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        
        position: static;
        width: 332px;
        height: 67px;
        left: 0px;
        top: 0px;
    
        /* Dark blue/dark-blue-300 */
    
        
        border-radius: 24px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 1;
        margin: 0px 24px;
        }

       
        .container{
            /* border: 2px solid; */
            background-color: #F3F5FC;
            height: auto;
            width: 47em;
            padding: 10px;
        }
        .left p{
            position: relative;
            /* border: 2px solid; */
            left: 10px;
        }
    
}

/* En pantallas de 375px de ancho o menos, usar dos columnas en lugar de cuatro */
@media screen and (max-width: 375px) { 
    .column {
       width: 50%;
    }
    body{
    padding: 10px 10px;
    }
    .container{
        position: relative;
        width: 375px;
        height: 933px;
        background: #F3F5FC;
    }
    .right{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position: absolute;
    width: 327px;
    height: 186px;
    left: 0.5%;
    top: 700px;

    /* White */

    background: #ffffff85;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.521);
    border-radius: 32px;
    }

    .right p{
    margin-bottom: 10%;
    margin-top: -50px;
    
    width: 365px;
    height: 29px;
    

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;

    }

    .right #textoEntrada{
    position: absolute;
    margin-top: 15%;
    width: 375px;
    height: 24px;
    left: 0px;
    top: 45px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #495057;
    }
    .botones{
        /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 343px;
    height: 158px;
    left: 0%;
    top: 485px;

    }

   
        .patter{
            position: absolute;
        }
        .boton1{
        margin-top: 10%;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;

        position: absolute;
        float: none;
        width: 343px;
        height: 67px;
        left: 0px;
        top: 0px;

        background: #0A3871;
        border-radius: 24px;

        }

        .boton2{
            
        position:absolute;
        margin-top: 35%;
        
        width: 343px;
        height: 67px;
     
        border-radius: 24px;

        
        }
       
        
    .logo{
        /* Vector */


    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 10%;
    bottom: 25%;

    /* Dark blue/dark-blue-300 */


    }
    .left p{
        /* Ingrese el texto aqui */


position: absolute;
width: 343px;
height: 48px;
left: 16px;
top: 152px;


font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */


    }
    
}
/*En pantallas de tablet 820px de ancho o menos*/
@media screen and (max-width: 820px){
    .logo{
        top: 10%;
    }
    .container{
        position: absolute;
        height: 100%;
        width: 94%;
    }
    .patter{
        position: absolute;
        top: 68%;
        left: 5%;
        font-size: 17px; 
        
    }
    .right{
        left: 20px;
        top: 80%;
        width: 688px;
        height: 133px;

    }
    .botones{
        left: 0%;

    }
}