body{
    background: lightgreen;
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;

}
.logo{
    width: 100%;
    float: left;
    background: lightcoral;
}
.left{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: lightpink;
}
.boton1{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: lightskyblue;
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}
.title{
    float: inherit;
}